<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<!-- template designed by Marco Von Ballmoos  -->
			<title>Docs For Class FOFViewJson</title>
			<link rel="stylesheet" href="../../media/stylesheet.css" />
						<script src="../../media/lib/classTree.js"></script>
												<script language="javascript" type="text/javascript">
				var imgPlus = new Image();
				var imgMinus = new Image();
				imgPlus.src = "../../media/images/plus.png";
				imgMinus.src = "../../media/images/minus.png";
				
				function showNode(Node){
							switch(navigator.family){
								case 'nn4':
									// Nav 4.x code fork...
							var oTable = document.layers["span" + Node];
							var oImg = document.layers["img" + Node];
									break;
								case 'ie4':
									// IE 4/5 code fork...
							var oTable = document.all["span" + Node];
							var oImg = document.all["img" + Node];
									break;
								case 'gecko':
									// Standards Compliant code fork...
							var oTable = document.getElementById("span" + Node);
							var oImg = document.getElementById("img" + Node);
									break;
							}
					oImg.src = imgMinus.src;
					oTable.style.display = "block";
				}
				
				function hideNode(Node){
							switch(navigator.family){
								case 'nn4':
									// Nav 4.x code fork...
							var oTable = document.layers["span" + Node];
							var oImg = document.layers["img" + Node];
									break;
								case 'ie4':
									// IE 4/5 code fork...
							var oTable = document.all["span" + Node];
							var oImg = document.all["img" + Node];
									break;
								case 'gecko':
									// Standards Compliant code fork...
							var oTable = document.getElementById("span" + Node);
							var oImg = document.getElementById("img" + Node);
									break;
							}
					oImg.src = imgPlus.src;
					oTable.style.display = "none";
				}
				
				function nodeIsVisible(Node){
							switch(navigator.family){
								case 'nn4':
									// Nav 4.x code fork...
							var oTable = document.layers["span" + Node];
									break;
								case 'ie4':
									// IE 4/5 code fork...
							var oTable = document.all["span" + Node];
									break;
								case 'gecko':
									// Standards Compliant code fork...
							var oTable = document.getElementById("span" + Node);
									break;
							}
					return (oTable && oTable.style.display == "block");
				}
				
				function toggleNodeVisibility(Node){
					if (nodeIsVisible(Node)){
						hideNode(Node);
					}else{
						showNode(Node);
					}
				}
			</script>
					</head>
		<body>
			<div class="page-body">			
<h2 class="class-name"><img src="../../media/images/Class_logo.png"
														alt=" Class"
														title=" Class"
														style="vertical-align: middle"> FOFViewJson</h2>

<a name="sec-description"></a>
<div class="info-box">
	<div class="info-box-title">Description</div>
	<div class="nav-bar">
					<span class="disabled">Description</span> |
													<a href="#sec-var-summary">Vars</a> (<a href="#sec-vars">details</a>)
						|											<a href="#sec-method-summary">Methods</a> (<a href="#sec-methods">details</a>)
						
					</div>
	<div class="info-box-body">
        		<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">FrameworkOnFramework JSON View class. Renders the data as a JSON object or  array. It can optionally output HAL links as well.</p>
	<ul class="tags">
				<li><span class="field">since:</span> 2.0</li>
			</ul>
		<p class="notes">
			Located in <a class="field" href="_libraries---fof---view---json.php.html">/libraries/fof/view/json.php</a> (line <span class="field"><a href="../../__filesource/fsource_FrameworkOnFramework_view_librariesfofviewjson.php.html#a20">20</a></span>)
		</p>
		
				
		<pre><a href="../../Joomla-Platform/Object/JObject.html">JObject</a>
   |
   --<a href="../../FrameworkOnFramework/view/FOFView.html">FOFView</a>
      |
      --<a href="../../FrameworkOnFramework/view/FOFViewRaw.html">FOFViewRaw</a>
         |
         --<a href="../../FrameworkOnFramework/view/FOFViewHtml.html">FOFViewHtml</a>
            |
            --FOFViewJson</pre>
	
			</div>
</div>



	<a name="sec-var-summary"></a>
	<div class="info-box">
		<div class="info-box-title">Variable Summary</span></div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
						<span class="disabled">Vars</span> (<a href="#sec-vars">details</a>)
							| 
									<a href="#sec-method-summary">Methods</a> (<a href="#sec-methods">details</a>)
							
								</div>
		<div class="info-box-body">
			<div class="var-summary">
																								<div class="var-title">
					<img src="../../media/images/Variable.png" alt=" " />
					<span class="var-type">boolean</span>
					<a href="#$useHypermedia" title="details" class="var-name">$useHypermedia</a>
				</div>
											</div>
		</div>
	</div>

	<a name="sec-method-summary"></a>
	<div class="info-box">
		<div class="info-box-title">Method Summary</span></div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
																		<a href="#sec-var-summary">Vars</a> (<a href="#sec-vars">details</a>)
				 
				|
						<span class="disabled">Methods</span> (<a href="#sec-methods">details</a>)
		</div>
		<div class="info-box-body">			
			<div class="method-summary">
																																																															
				<div class="method-definition">
					<img src="../../media/images/Constructor.png" alt=" "/>
											<span class="method-result">FOFViewJson</span>
										<a href="#__construct" title="details" class="method-name">__construct</a>
											([<span class="var-type">array</span>&nbsp;<span class="var-name">$config</span> = <span class="var-default">array()</span>])
									</div>
															
				<div class="method-definition">
					<img src="../../media/images/Method.png" alt=" "/>
											<span class="method-result">boolean</span>
										<a href="#onDisplay" title="details" class="method-name">onDisplay</a>
											([<span class="var-type">string</span>&nbsp;<span class="var-name">$tpl</span> = <span class="var-default">null</span>])
									</div>
															
				<div class="method-definition">
					<img src="../../media/images/Method.png" alt=" "/>
											<span class="method-result">boolean</span>
										<a href="#onRead" title="details" class="method-name">onRead</a>
											([<span class="var-type">string</span>&nbsp;<span class="var-name">$tpl</span> = <span class="var-default">null</span>])
									</div>
															
				<div class="method-definition">
					<img src="../../media/images/Method.png" alt=" "/>
											<span class="method-result"><a href="../../FrameworkOnFramework/hal/FOFHalDocument.html">FOFHalDocument</a></span>
										<a href="#_createDocumentWithHypermedia" title="details" class="method-name">_createDocumentWithHypermedia</a>
											(<span class="var-type">array</span>&nbsp;<span class="var-name">$data</span>, [<span class="var-type"><a href="../../FrameworkOnFramework/model/FOFModel.html">FOFModel</a></span>&nbsp;<span class="var-name">$model</span> = <span class="var-default">null</span>])
									</div>
															
				<div class="method-definition">
					<img src="../../media/images/Method.png" alt=" "/>
											<span class="method-result"><a href="../../Joomla-Platform/Uri/JUri.html">JUri</a></span>
										<a href="#_getPrototypeURIForPagination" title="details" class="method-name">_getPrototypeURIForPagination</a>
										()
									</div>
															
				<div class="method-definition">
					<img src="../../media/images/Method.png" alt=" "/>
											<span class="method-result">string</span>
										<a href="#_removeURIBase" title="details" class="method-name">_removeURIBase</a>
											(<span class="var-type">string</span>&nbsp;<span class="var-name">$uri</span>)
									</div>
											</div>
		</div>
	</div>		

	<a name="sec-vars"></a>
	<div class="info-box">
		<div class="info-box-title">Variables</div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
										<a href="#sec-var-summary">Vars</a> (<span class="disabled">details</span>)
						
			
										| 
									<a href="#sec-method-summary">Methods</a> (<a href="#sec-methods">details</a>)
							
					</div>
		<div class="info-box-body">
			
<a name="var$useHypermedia" id="$useHypermedia"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<img src="../../media/images/Variable.png" />
		<span class="var-title">
			<span class="var-type">boolean</span>
			<span class="var-name">$useHypermedia</span>
			 = <span class="var-default"> false</span>			(line <span class="line-number"><a href="../../__filesource/fsource_FrameworkOnFramework_view_librariesfofviewjson.php.html#a28">28</a></span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">When set to true we'll add hypermedia to the output, implementing the  HAL specification (http://stateless.co/hal_specification.html)</p>
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
							<h4>Inherited Variables</h4>
				<A NAME='inherited_vars'><!-- --></A>
									<p>Inherited from <span class="classname"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html">FOFViewRaw</a></span></p>
					<blockquote>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#var$lists">FOFViewRaw::$lists</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#var$perms">FOFViewRaw::$perms</a></span><br>
							</span>
											</blockquote> 
									<p>Inherited from <span class="classname"><a href="../../FrameworkOnFramework/view/FOFView.html">FOFView</a></span></p>
					<blockquote>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$config">FOFView::$config</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$doPostRender">FOFView::$doPostRender</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$doPreRender">FOFView::$doPreRender</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$input">FOFView::$input</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$rendererObject">FOFView::$rendererObject</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$renderers">FOFView::$renderers</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_basePath">FOFView::$_basePath</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_charset">FOFView::$_charset</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_defaultModel">FOFView::$_defaultModel</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_escape">FOFView::$_escape</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_layout">FOFView::$_layout</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_layoutExt">FOFView::$_layoutExt</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_layoutTemplate">FOFView::$_layoutTemplate</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_models">FOFView::$_models</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_name">FOFView::$_name</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_output">FOFView::$_output</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_path">FOFView::$_path</a></span><br>
							</span>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../FrameworkOnFramework/view/FOFView.html#var$_template">FOFView::$_template</a></span><br>
							</span>
											</blockquote> 
									<p>Inherited from <span class="classname"><a href="../../Joomla-Platform/Object/JObject.html">JObject</a></span></p>
					<blockquote>
													<img src="../../media/images/Variable.png" />
							<span class="var-title">
								<span class="var-name"><a href="../../Joomla-Platform/Object/JObject.html#var$_errors">JObject::$_errors</a></span><br>
							</span>
											</blockquote> 
										
		</div>
	</div>
	
	<a name="sec-methods"></a>
	<div class="info-box">
		<div class="info-box-title">Methods</div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
															<a href="#sec-var-summary">Vars</a> (<a href="#sec-vars">details</a>)
																	<a href="#sec-method-summary">Methods</a> (<span class="disabled">details</span>)
						
		</div>
		<div class="info-box-body">
			<A NAME='method_detail'></A>
<a name="method__construct" id="__construct"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<img src="../../media/images/Constructor.png" />
		<span class="method-title">Constructor __construct</span> (line <span class="line-number"><a href="../../__filesource/fsource_FrameworkOnFramework_view_librariesfofviewjson.php.html#a35">35</a></span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Public constructor</p>
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">FOFViewJson</span>
		<span class="method-name">
			__construct
		</span>
					([<span class="var-type">array</span>&nbsp;<span class="var-name">$config</span> = <span class="var-default">array()</span>])
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">array</span>
				<span class="var-name">$config</span><span class="var-description">: The component's configuration array</span>			</li>
				</ul>
		
			<hr class="separator" />
		<div class="notes">Redefinition of:</div>
		<dl>
			<dt><a href="../../FrameworkOnFramework/view/FOFViewHtml.html#method__construct">FOFViewHtml::__construct()</a></dt>
						<dd>Class constructor</dd>
					</dl>
			
	</div>
<a name="methodonDisplay" id="onDisplay"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<img src="../../media/images/Method.png" />
		<span class="method-title">onDisplay</span> (line <span class="line-number"><a href="../../__filesource/fsource_FrameworkOnFramework_view_librariesfofviewjson.php.html#a52">52</a></span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">The event which runs when we are displaying the record list JSON view</p>
	<ul class="tags">
				<li><span class="field">return:</span> True to allow display of the view</li>
				<li><span class="field">access:</span> protected</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">boolean</span>
		<span class="method-name">
			onDisplay
		</span>
					([<span class="var-type">string</span>&nbsp;<span class="var-name">$tpl</span> = <span class="var-default">null</span>])
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">string</span>
				<span class="var-name">$tpl</span><span class="var-description">: The view sub-template to use</span>			</li>
				</ul>
		
			<hr class="separator" />
		<div class="notes">Redefinition of:</div>
		<dl>
			<dt><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodonDisplay">FOFViewRaw::onDisplay()</a></dt>
						<dd>Executes before rendering a generic page, default to actions necessary  for the Browse task.</dd>
					</dl>
			
	</div>
<a name="methodonRead" id="onRead"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<img src="../../media/images/Method.png" />
		<span class="method-title">onRead</span> (line <span class="line-number"><a href="../../__filesource/fsource_FrameworkOnFramework_view_librariesfofviewjson.php.html#a154">154</a></span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">The event which runs when we are displaying a single item JSON view</p>
	<ul class="tags">
				<li><span class="field">return:</span> True to allow display of the view</li>
				<li><span class="field">access:</span> protected</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">boolean</span>
		<span class="method-name">
			onRead
		</span>
					([<span class="var-type">string</span>&nbsp;<span class="var-name">$tpl</span> = <span class="var-default">null</span>])
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">string</span>
				<span class="var-name">$tpl</span><span class="var-description">: The view sub-template to use</span>			</li>
				</ul>
		
			<hr class="separator" />
		<div class="notes">Redefinition of:</div>
		<dl>
			<dt><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodonRead">FOFViewRaw::onRead()</a></dt>
						<dd>Executes before rendering the page for the Read task.</dd>
					</dl>
			
	</div>
<a name="method_createDocumentWithHypermedia" id="_createDocumentWithHypermedia"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<img src="../../media/images/Method.png" />
		<span class="method-title">_createDocumentWithHypermedia</span> (line <span class="line-number"><a href="../../__filesource/fsource_FrameworkOnFramework_view_librariesfofviewjson.php.html#a256">256</a></span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Creates a FOFHalDocument using the provided data</p>
	<ul class="tags">
				<li><span class="field">return:</span> A HAL-enabled document</li>
				<li><span class="field">access:</span> protected</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result"><a href="../../FrameworkOnFramework/hal/FOFHalDocument.html">FOFHalDocument</a></span>
		<span class="method-name">
			_createDocumentWithHypermedia
		</span>
					(<span class="var-type">array</span>&nbsp;<span class="var-name">$data</span>, [<span class="var-type"><a href="../../FrameworkOnFramework/model/FOFModel.html">FOFModel</a></span>&nbsp;<span class="var-name">$model</span> = <span class="var-default">null</span>])
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">array</span>
				<span class="var-name">$data</span><span class="var-description">: The data to put in the document</span>			</li>
					<li>
				<span class="var-type"><a href="../../FrameworkOnFramework/model/FOFModel.html">FOFModel</a></span>
				<span class="var-name">$model</span><span class="var-description">: The model of this view</span>			</li>
				</ul>
		
			
	</div>
<a name="method_getPrototypeURIForPagination" id="_getPrototypeURIForPagination"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<img src="../../media/images/Method.png" />
		<span class="method-title">_getPrototypeURIForPagination</span> (line <span class="line-number"><a href="../../__filesource/fsource_FrameworkOnFramework_view_librariesfofviewjson.php.html#a375">375</a></span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns a JUri instance with a prototype URI used as the base for the  other URIs created by the JSON renderer</p>
	<ul class="tags">
				<li><span class="field">return:</span> The prototype JUri instance</li>
				<li><span class="field">access:</span> protected</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result"><a href="../../Joomla-Platform/Uri/JUri.html">JUri</a></span>
		<span class="method-name">
			_getPrototypeURIForPagination
		</span>
				()
			</div>
	
		
			
	</div>
<a name="method_removeURIBase" id="_removeURIBase"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<img src="../../media/images/Method.png" />
		<span class="method-title">_removeURIBase</span> (line <span class="line-number"><a href="../../__filesource/fsource_FrameworkOnFramework_view_librariesfofviewjson.php.html#a351">351</a></span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Convert an absolute URI to a relative one</p>
	<ul class="tags">
				<li><span class="field">return:</span> The relative URL</li>
				<li><span class="field">access:</span> protected</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">string</span>
		<span class="method-name">
			_removeURIBase
		</span>
					(<span class="var-type">string</span>&nbsp;<span class="var-name">$uri</span>)
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">string</span>
				<span class="var-name">$uri</span><span class="var-description">: The URI to convert</span>			</li>
				</ul>
		
			
	</div>
							<h4>Inherited Methods</h4>
				<a name='inherited_methods'><!-- --></a>	
									<!-- =========== Summary =========== -->
					<p>Inherited From <span class="classname"><a href="../../FrameworkOnFramework/view/FOFViewHtml.html">FOFViewHtml</a></span></p>
					<blockquote>
													<img src="../../media/images/Constructor.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewHtml.html#method__construct">FOFViewHtml::__construct()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewHtml.html#methodpostRender">FOFViewHtml::postRender()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewHtml.html#methodpreRender">FOFViewHtml::preRender()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewHtml.html#methodrenderLinkbar">FOFViewHtml::renderLinkbar()</a></span><br>
											</blockquote>
									<!-- =========== Summary =========== -->
					<p>Inherited From <span class="classname"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html">FOFViewRaw</a></span></p>
					<blockquote>
													<img src="../../media/images/Constructor.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#method__construct">FOFViewRaw::__construct()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methoddisplay">FOFViewRaw::display()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodgetLists">FOFViewRaw::getLists()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodgetPerms">FOFViewRaw::getPerms()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodhasAjaxOrderingSupport">FOFViewRaw::hasAjaxOrderingSupport()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodonAdd">FOFViewRaw::onAdd()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodonBrowse">FOFViewRaw::onBrowse()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodonDisplay">FOFViewRaw::onDisplay()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodonEdit">FOFViewRaw::onEdit()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodonRead">FOFViewRaw::onRead()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodpostRender">FOFViewRaw::postRender()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFViewRaw.html#methodpreRender">FOFViewRaw::preRender()</a></span><br>
											</blockquote>
									<!-- =========== Summary =========== -->
					<p>Inherited From <span class="classname"><a href="../../FrameworkOnFramework/view/FOFView.html">FOFView</a></span></p>
					<blockquote>
													<img src="../../media/images/Constructor.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#method__construct">FOFView::__construct()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodaddHelperPath">FOFView::addHelperPath()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodaddTemplatePath">FOFView::addTemplatePath()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodassign">FOFView::assign()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodassignRef">FOFView::assignRef()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methoddisplay">FOFView::display()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodescape">FOFView::escape()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodfindRenderer">FOFView::findRenderer()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodget">FOFView::get()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodgetLayout">FOFView::getLayout()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodgetLayoutTemplate">FOFView::getLayoutTemplate()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodgetModel">FOFView::getModel()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodgetName">FOFView::getName()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodgetRenderer">FOFView::getRenderer()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodgetViewOptionAndName">FOFView::getViewOptionAndName()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodloadAnyTemplate">FOFView::loadAnyTemplate()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodloadHelper">FOFView::loadHelper()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodloadTemplate">FOFView::loadTemplate()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodregisterRenderer">FOFView::registerRenderer()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodsetEscape">FOFView::setEscape()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodsetLayout">FOFView::setLayout()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodsetLayoutExt">FOFView::setLayoutExt()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodsetModel">FOFView::setModel()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodsetPostRender">FOFView::setPostRender()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodsetPreRender">FOFView::setPreRender()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#methodsetRenderer">FOFView::setRenderer()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#method_addPath">FOFView::_addPath()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#method_createFileName">FOFView::_createFileName()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../FrameworkOnFramework/view/FOFView.html#method_setPath">FOFView::_setPath()</a></span><br>
											</blockquote>
									<!-- =========== Summary =========== -->
					<p>Inherited From <span class="classname"><a href="../../Joomla-Platform/Object/JObject.html">JObject</a></span></p>
					<blockquote>
													<img src="../../media/images/Constructor.png" alt=" "/>
							<span class="method-name"><a href="../../Joomla-Platform/Object/JObject.html#method__construct">JObject::__construct()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../Joomla-Platform/Object/JObject.html#methoddef">JObject::def()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../Joomla-Platform/Object/JObject.html#methodget">JObject::get()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../Joomla-Platform/Object/JObject.html#methodgetError">JObject::getError()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../Joomla-Platform/Object/JObject.html#methodgetErrors">JObject::getErrors()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../Joomla-Platform/Object/JObject.html#methodgetProperties">JObject::getProperties()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../Joomla-Platform/Object/JObject.html#methodset">JObject::set()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../Joomla-Platform/Object/JObject.html#methodsetError">JObject::setError()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../Joomla-Platform/Object/JObject.html#methodsetProperties">JObject::setProperties()</a></span><br>
													<img src="../../media/images/Method.png" alt=" "/>
							<span class="method-name"><a href="../../Joomla-Platform/Object/JObject.html#method__toString">JObject::__toString()</a></span><br>
											</blockquote>
										
		</div>
	</div>

	
	<p class="notes" id="credit">
		Documentation generated on Tue, 19 Nov 2013 15:06:16 +0100 by <a href="http://www.phpdoc.org" target="_blank">phpDocumentor 1.4.3</a>
	</p>
	</div></body>
</html>